@font-face {
  font-family: Nokian;
  src: url(../nokian.ttf);
}

html {
  box-sizing: border-box;
  margin: 0;
  max-width: 1440px;
  padding: 0;
  width: 100%;
}

body {
  background-color: lightgrey;
  font-family: nokian;
}

canvas {
  background-color: rgb(155, 188, 15);
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#game {
  border: 1px solid;
  display: block;
  margin: auto;
}

.highScoreContainer {
  display: flex;
  font-family: nokian;
  font-size: 32px;
  height: 99px;
  left: 7px; 
  top: 10px; 
  width: 100%;
}

.highScoreTxt {
  margin: 0 0 0 12px;
  padding: 25px 0 0 375px;
}

.currentScore {
  margin: 0 auto;
  display: inline-block;
  padding-top: 25px;
}

.topTen {

}